.jumbotron {
  background-image: url('../images/header.png');
  
  background-size: cover;
  height: 100%
}

.card-body {
  display: flex;
  flex-direction: column;
}

button.btn {
  margin-top: auto;

}

.card {
  padding: 5px;
  border: 5px solid black;

}